/* 重置样式 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img
  margin 0
  padding 0
fieldset, img
  border 0
  outline-width 0
  vertical-align middle
address, caption, cite, code, dfn, th, var, b, strong, em, a, i, span, h1, h2, h3, h4, h5, h6
  font-style normal
  font-weight normal
a
  text-decoration none
ul, ol
  list-style none
input::-moz-focus-inner
  border 0
  padding 0
select, input
  vertical-align middle
select, input, textarea
  font-size 12px
  margin 0
input[type='text'], input[type='password'], textarea
  outline-style none
  -webkit-appearance none
textarea
  resize none
table
  border-collapse collapse
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
  -webkit-appearance textfield
input[type='number']
  -moz-appearance textfield
input
  padding-top 0
  padding-bottom 0
  font-family 'SimSun', '宋体'
  border none
  outline none
  border-width 0
  -webkit-appearance none
/* 输入框 占位符颜色 */
input::-webkit-input-placeholder
  color #999999 !important
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
button
  outline none
  border none
  -webkit-appearance none
  cursor pointer

// 多端统一滚动条
::-webkit-scrollbar
  width: 6px
  height: 6px

::-webkit-scrollbar-track
  width: 6px
  background: rgba(#101F1C, 0.1)
  -webkit-border-radius: 2em
  -moz-border-radius: 2em
  border-radius: 2em

::-webkit-scrollbar-thumb
  background-color: rgba(#101F1C, 0.5)
  background-clip: padding-box
  min-height: 28px
  -webkit-border-radius: 2em
  -moz-border-radius: 2em
  border-radius: 2em

::-webkit-scrollbar-thumb:hover
  background-color: rgba(#101F1C, 1)

// 自定义进度条颜色
#nprogress .bar
  background: rgba(66,185,131,1) !important
